/* Se usa el selector universal para resetear valores */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Modificamos las propiedades de main */
.contenedor-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
/* Se tratan las clases para elementos */

/* Propiedades para el titulo */
.contenedor-main__titulo {
    font-size: 2.5rem;
    color: #333;
}
/* Propiedades para la lista dentro dentro del main */
.contenedor-main__lista {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Componente para los enlaces */
.enlaces {
    background-color: #000;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 30px;
}